/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
.env
.env.local
.env.backup
.env.production
blockchain/.env
blockchain-service/.env
blockchain-service/logs/
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
/esignature-lib
/bootstrap-admin-dashboard-template-lunoz-BXN8VMD
